.borderRadiusPreviewer {
  color: white;
  width: 60vmin;
  height: 60vmin;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  position: relative;

  &__shape {
    width: 100%;
    height: 100%;
    background: #bada55;
  }
}

input[type='range'] {
  pointer-events: none;
}

input[type='range']::-webkit-slider-thumb {
  pointer-events: auto;
}
